body {
  background-color: #383838;
}

.cover {
  box-shadow: 1px 1px 9px rgba(0,0,0,0.5);
  background-color: white;
  position: relative;
}

.info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 12px;
  border-radius: 100%;
  font-size: 12px;
  color: black;
  right: 10px;
  bottom: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
} 

.info:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.info:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  transform: translate(1px, 1px);
}

.info:focus {
  color: black;
}

.play {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 100%;
  padding: 14px 25px;
  font-size: 32px;
  top: 50%;
  right: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  width: 76px;
  height: 76px;
  margin-right: calc(76px / -2);
  margin-top: calc(76px / -2);
  cursor: pointer;
}

.play:hover {
  background-color: rgba(255, 255, 255, 0.79);
}

.cover-description {
  background-color: white;
}

.cover-photo {
  width: 100%;
}

.cover-text {
  font-size: 12px;
  padding: 5px;
}